<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268007541671-budmp630dpqt3v0m9nsgq9gmr9gjirig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268007541671-budmp630dpqt3v0m9nsgq9gmr9gjirig</string>
	<key>API_KEY</key>
	<string>AIzaSyA7NMfI1A-kyvz7O4TMA_XbO265alOj0fY</string>
	<key>GCM_SENDER_ID</key>
	<string>268007541671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xevo.ashish.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>fall2020-419f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fall2020-419f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268007541671:ios:1a4b827a6429a61b1a0482</string>
	<key>DATABASE_URL</key>
	<string>https://fall2020-419f7.firebaseio.com</string>
</dict>
</plist>